body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: linear-gradient(black, #1a1a1a);
}

header h1 {
  color: gold;
  font-size: 48px;
}

#searchBox {
  padding: 12px;
  width: 60%;
  margin: 20px 0;
  border-radius: 6px;
  border: none;
}

.buttons .btn {
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  background: gold;
  color: black;
  border-radius: 6px;
  font-weight: bold;
}

.whatsapp {
  background: #25D366;
  color: white;
}

section {
  padding: 40px;
  text-align: center;
}

.genres button {
  padding: 15px;
  margin: 10px;
  background: #222;
  color: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.beat-card {
  background: #1c1c1c;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

.beat-card button {
  padding: 10px;
  margin: 8px;
  width: 100%;
}

.locked {
  background: red;
  color: white;
  border: none;
}

.payments {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pay-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.note {
  margin-top: 20px;
  color: #ccc;
}

footer {
  background: black;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
